In [17]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

In [18]:

browser0 = Browser('chrome', headless=False)
url0 = 'https://mars.nasa.gov/news/'
browser0.visit(url0)
html0 = browser0.html
soup0 = bs(html0, 'html.parser')

In [19]:

results0 = soup0.find_all('div')
for result0 in results0:
    try:
        #title
        title0 = result0.find('div', class_="bottom_gradient")   
    
        latest_title = title0.find('h3')
        
        news_title = latest_title.text
        
        #paragraph description
        
        para0 = result0.find('div', class_="article_teaser_body")
        
        news_p = para0.text
        
    
    except AttributeError:
        pass
    
    break

In [20]:


print(news_title)
print(news_p)

Mount Sharp 'Photobombs' Mars Curiosity Rover
A new self-portrait of NASA's Curiosity Mars rover shows the vehicle on Vera Rubin Ridge.

In [21]:


browser = Browser('chrome', headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [22]:

results = soup.find_all('div')
for result in results:
    try:
        title = result.find('h2', class_="brand_title")
        #title_text = title.a.text
    
        a = result.find('a', class_="button fancybox")
    
        #img = a.find('data-fancybox-href=')
        #print(title)
        print(a)
    
    except AttributeError:
        pass
    break

<a class="button fancybox" data-description="This image from ESA's Herschel Space Observatory reveals a suspected ring at the center of our galaxy is warped for reasons scientists cannot explain. The ring is twisted so that part of it rises above and below the plane of our Milky Way galaxy." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA14400_ip.jpg" data-link="/spaceimages/details.php?id=PIA14400" data-title="The Case of the Warped Galactic Ring" id="full_image">
					FULL IMAGE
				  </a>

In [23]:

#featured_image_url = 'https://www.jpl.nasa.gov/' + str()
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19685_ip.jpg'

In [24]:


browser2 = Browser('chrome', headless=False)
url2 = 'https://twitter.com/marswxreport?lang=en'
browser2.visit(url2)
html2 = browser2.html
soup2 = bs(html2, 'html.parser')

In [25]:

results2 = soup2.find_all('div')
for result2 in results2:
    try:
        title2 = result2.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
        
    
        
        latest_tweet = title2.text
        

    except AttributeError:
        pass
    break

In [27]:

latest_tweet

'Sol 1951 (Jan 31, 2018), Sunny, high -23C/-9F, low -77C/-106F, pressure at 7.49 hPa, daylight 05:42-17:28'

In [243]:

mars_facts_url = 'https://space-facts.com/mars/'
table = pd.read_html(mars_facts_url)

In [244]:


df = pd.DataFrame(table[0])
df.columns =['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [245]:


html_table = df.to_html()
#print(html_table)

In [246]:
#df.to_html('table.html')

In [247]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]